    /*цвет лого и кнопки IRIS #4D5AE5 */
    /* цвет шрифта хедера  #2E2F42 */
    /* цвет адреса в хедере #434455 */
    /*цвет активного наведения  шрифта Ocean  #404BBF */

    /* цвет заголовка h1  index #FFFFFF */
    /* цвет заголовка h2 index  #2E2F42  */
    /* цвет кновки index  IRIS  #4D5AE5 */
    /* цвет текста index  #434455  */
    
    /* цвет текста футера    #F4F4FD */

        /* цвет заголовка портфлио #2E2F42 */
        /*цвет спокойной кнопки на странице портфолио #F4F4FD */
        /* цвет спокойной надписи кнопки  на странице портфолио #4D5AE5 */
        /* цвет активной надписи кнопки  на странице портфоли #FFFFFF */
        /* цвет активной кнопки на странице портфолио Ocean  #404BBF */
        /* цвет основного текста портфлио #434455 */
/*переменные цвета*/
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5; /* IRIS */
    --button-color: #404BBF; /* Ocean */
    --primary-white-color: #ffffff;
    --second-color: #F4F4FD;    
}
/*основной стиль текста*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;  /* identical to box height, or 150% */
    color: var(--primary-text-color); /* --primary-text-color: #434455; */
    letter-spacing: 0.02em;
   
    background-color:var(--primary-white-color)}
    .conteiner{
        /* border: 5px solid tomato; */
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
.list {
    list-style:none;
    margin: 0;    
    padding-left: 0px;
}
.link{text-decoration: none;}
/* логотип*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-right: 77px;

}
.conteiner-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid#E7E9FC;
    /* #E7E9FC колір нижньої рамки хедера */
} 
.main-nav{
    display: flex;
    align-items: center;
    margin: auto;
}

 .accent {
      color: var(--title-text-color)
  }

/* хедер*/
.site-nav{
    display: flex;
}
.site-nav .item+ .item {
    margin-left: 40px;
}
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  

    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.address{
    font-style: normal;
}
.address .list{
        display: flex;
}
.address .item+ .item{
    margin-left: 41px;
}
 .address .link {
    font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     color: inherit;
     color: var(--primary-text-color);
     /* --primary-text-color: #434455; */
      letter-spacing: 0.02em;
     font-style: normal;


 }
 .address .link:hover {
     color: var(--button-color);
 }

/* кнопка */
.pointer {
    display: inline-block;
        font-family:"Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    cursor: pointer;
border-radius: 4px;
}
.hero .pointer{
padding: 16px 32px;
min-width: 169px;
}
    .pointer:hover,.pointer:focus {
        background-color: var(--button-color);}
         /*--accent-color: #4D5AE5; IRIS */
        /*--button-color: #404BBF;  Ocean */
        /*    --second-color: #F4F4FD; */

        /* кнопка портфоліо*/
.list .pointer{
    color: var(--accent-color);
    background-color: var(--second-color);

}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--button-color);
}
.address .link:hover,.address .link:focus{
        color: var(--button-color);
}
    /* первая секция */

 .hero   {
    background-color: var(--title-text-color);
    text-align: center;
}
.hero-tittle{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color:var(--primary-white-color);
    letter-spacing: 0.02em;
    margin-top: 0px; 
    margin-bottom: 48px;
}
/*  --title-text-color: #2E2F42; */
 .hero .text, 
 .strategy .titles-strategy, 
 .tittle-we-do{
    letter-spacing: 0.02em;
    color: var(--title-text-color);
 }
p.text{
    margin-top: 0px;
    margin-bottom: 0px;
}
.strategy .conteiner{
    padding-bottom: 118px;

}
 .strategy-conteiner .list{
    display: flex;
    flex-wrap: wrap;
}
.strategy .strat-list {
    margin-right: auto;
}
.strategy .strat-list:nth-child(4n){
    margin-right: 0px;
}
.strategy .strat-list{
        display: inline-block;
  
        width: 264px;
}
 .tittle-base{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 72px;}

.tittle-reg{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 8px;}   

    .strategy .tittle-reg{
        text-align: left;} 

.titles-hidden{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    visibility:hidden;
    display: none}  /* 2 секція прихований заголовок*/
    /*  --title-text-color: #2E2F42; */



.we-do .conteiner{
    padding-bottom: 122px;
}
.we-do .link{
    display: flex;
    padding: 0px;

}

.we-do .team{
        display: inline-block;
}
.we-do .team+.team {margin-left: 24px;}
}

/* 4 секція */
.our-team {
background-color: var(--second-color)
}
.our-team .list{
    display: inline-block;
    justify-content: center;
}
.our-team .team + .team{
margin-left: 24px;
}
/* .we-do .team,
.portfolio .team,
.portfolio .port-btn {
    display: block;
} */

.our-team .team{
    display: inline-block;
    background-color: var(--primary-white-color);
    padding: 0px 0px 32px;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.our-team .conteiner{
    padding-bottom: 115px;
}
/*  --primary-white-color: #ffffff;
 --second-color: #F4F4FD; */


 /* футер */
.footer .accent {
    color: var(--second-color);
}

.footer {
    color: var(--second-color);
    background-color: var(--title-text-color);
}
.footer .footer-text{
    width: 264px;
}
/* кнопка портфоліо*/
.list .pointer {
    color: var(--accent-color);
    background-color: var(--second-color);}
    .list .pointer:hover, 
    .list .pointer:focus {
        color: var(--primary-white-color);
        background-color: var(--button-color);
        display: inline-block;    
    }

.port-tittle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
        /* identical to box height, or 120% */
    letter-spacing: 0.02em;
     color: var(--title-text-color);
     margin-top: 0;
     margin-bottom: ;
}
.port-parag{
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
        color: var(--primary-text-color)
        /* --primary-text-color: #434455; */
}
.portfolio .team-list {
    display: flex;
    flex-wrap: wrap;
}
.team-list .team:not(:nth-child(3n)) {
    margin-right: 24px; 
}
.portfolio .port-btn {
    padding-bottom: 72px;
}
.portfolio .pointer {
    padding: 12px 24px;
    margin-top: 86px;
}
.portfolio .port-btn+.port-btn{
    margin-left: 24px;
}
.portfolio .list {
    display: flex;
    justify-content:center
}
.portfolio .port-item {
    padding: 0 0 32px;
    padding-left: 16px;
    padding-top: 32px;
    margin-bottom: 48px;
    border-bottom: 1px solid#E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC
    /* #E7E9FC рамка */

}
.team-list .team:nth-last-child(-n+3){
    margin-bottom: 120px; 
}
