    /*цвет лого и кнопки IRIS #4D5AE5 */
    /* цвет шрифта хедера  #2E2F42 */
    /* цвет адреса в хедере #434455 */
    /*цвет активного наведения  шрифта Ocean  #404BBF */

    /* цвет заголовка h1  index #FFFFFF */
    /* цвет заголовка h2 index  #2E2F42  */
    /* цвет кновки index  IRIS  #4D5AE5 */
    /* цвет текста index  #434455  */
    
    /* цвет текста футера    #F4F4FD */

        /* цвет заголовка портфлио #2E2F42 */
        /*цвет спокойной кнопки на странице портфолио #F4F4FD */
        /* цвет спокойной надписи кнопки  на странице портфолио #4D5AE5 */
        /* цвет активной надписи кнопки  на странице портфоли #FFFFFF */
        /* цвет активной кнопки на странице портфолио Ocean  #404BBF */
        /* цвет основного текста портфлио #434455 */
/*переменные цвета*/
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5; /* IRIS */
    --button-color: #404BBF; /* Ocean */
    --primary-white-color: #ffffff;
    --second-color: #F4F4FD;    
}
/*основной стиль текста*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;  /* identical to box height, or 150% */
    color: var(--primary-text-color); /* --primary-text-color: #434455; */
    letter-spacing: 0.02em;
   
    background-color:var(--primary-white-color)}
    .conteiner{
        border: 5px solid tomato;
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
.list {
    list-style:none;
    margin: 0;    
}
.link{text-decoration: none;}
/* логотип*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);

}
 
 .accent {
      color: var(--title-text-color)
  }

/* хедер*/
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}
.address{
    font-style: normal}
 .address .link {
    font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     color: inherit;
     color: var(--primary-text-color);
     /* --primary-text-color: #434455; */
      letter-spacing: 0.02em;
     font-style: normal;
 }
 .address .link:hover {
     color: var(--button-color);
 }

/* кнопка */
.pointer {
    display: inline-block;
        font-family:"Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    cursor: pointer;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px ;}
    .pointer:hover,.pointer:focus {
        background-color: var(--button-color);}
         /*--accent-color: #4D5AE5; IRIS */
        /*--button-color: #404BBF;  Ocean */
        /*    --second-color: #F4F4FD; */

        /* кнопка портфоліо*/
.list .pointer{
    color: var(--accent-color);
    background-color: var(--second-color);

}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--button-color);
}
.address .link:hover,.address .link:focus{
        color: var(--button-color);
}
    /* первая секция */

 .hero   {
    background-color: var(--title-text-color);
    text-align: center;
}
.hero-tittle{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color:var(--primary-white-color);
    letter-spacing: 0.02em;
    margin-top: 0px; 
    margin-bottom: 48px;
}
/*  --title-text-color: #2E2F42; */
 .hero .text, 
 .strategy .titles-strategy, 
 .tittle-we-do{
    letter-spacing: 0.02em;
    color: var(--title-text-color);
 }
p.text{
    margin-top: 0px;
    margin-bottom: 0px;
}
.strategy .conteiner{
    padding-bottom: 118px;

}
.strategy .strat-list{
        display: inline-block;
}
 .tittle-base{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 72px;}

.tittle-reg{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 8px;}   

    .strategy .tittle-reg{
        text-align: left;} 

.titles-hidden{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    visibility:hidden;
    display: none}  /* 2 секція прихований заголовок*/
    /*  --title-text-color: #2E2F42; */


.we-do .conteiner{
    padding-bottom: 122px;
}
/* 4 секція */
.our-team {
background-color: var(--second-color)

}
.we-do .team, .portfolio .port-list, .portfolio .port-btn{
    display: inline-block;
}
.portfolio .team{
    padding: 0 0 32px;
}
.our-team .team{
    display: inline-block;
    background-color: var(--primary-white-color);
    padding: 0px 0px 32px;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.our-team .conteiner{
    padding-bottom: 115px;
}
.pict{
    margin-bottom: 32px;
}
/*  --primary-white-color: #ffffff;
 --second-color: #F4F4FD; */


 /* футер */
.footer .accent {
    color: var(--second-color);
}

.footer {
    color: var(--second-color);
    background-color: var(--title-text-color);
}
/* кнопка портфоліо*/
.list .pointer {
    color: var(--accent-color);
    background-color: var(--second-color);}
    .list .pointer:hover, 
    .list .pointer:focus {
        color: var(--primary-white-color);
        background-color: var(--button-color);
        display: inline-block;    
    }

.port-tittle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
        /* identical to box height, or 120% */
    letter-spacing: 0.02em;
     color: var(--title-text-color);
     margin-top: 0;
     margin-bottom: ;
}
.port-parag{
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
        color: var(--primary-text-color)
        /* --primary-text-color: #434455; */
}