    /*цвет лого и кнопки IRIS #4D5AE5 */
    /* цвет шрифта хедера  #2E2F42 */
    /* цвет адреса в хедере #434455 */
    /*цвет активного наведения  шрифта Ocean  #404BBF */

    /* цвет заголовка h1  index #FFFFFF */
    /* цвет заголовка h2 index  #2E2F42  */
    /* цвет кновки index  IRIS  #4D5AE5 */
    /* цвет текста index  #434455  */
    
    /* цвет текста футера    #F4F4FD */

        /* цвет заголовка портфлио #2E2F42 */
        /*цвет спокойной кнопки на странице портфолио #F4F4FD */
        /* цвет спокойной надписи кнопки  на странице портфолио #4D5AE5 */
        /* цвет активной надписи кнопки  на странице портфоли #FFFFFF */
        /* цвет активной кнопки на странице портфолио Ocean  #404BBF */
        /* цвет основного текста портфлио #434455 */
/*переменные цвета*/
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5; /* IRIS */
    --button-color: #404BBF; /* Ocean */
    --primary-white-color: #ffffff;
    --second-color: #F4F4FD;    
}
/*основной стиль текста*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;  /* identical to box height, or 150% */
    color: var(--primary-text-color); /* --primary-text-color: #434455; */
    letter-spacing: 0.02em;
   
    background-color:var(--primary-white-color)}
.list {
    list-style:none;    
}
/* логотип*/
.link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    text-decoration: none
}
 
 .accent {
      color: var(--title-text-color)
  }

/* хедер*/
.site-nav .link{
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.address{font-style: normal}
 .address .link {
     font-size: 16px;
     line-height: 1.5;
     color: inherit;
     color: var(--primary-text-color);
     /* --primary-text-color: #434455; */
      letter-spacing: 0.02em;
     text-decoration: none;
     font-style: normal;

     :hover {
         color: var(--button-color);
     }
 }

/* кнопка */
.pointer {
        font-family:"Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    cursor: pointer}
    .pointer:hover,.pointer:focus {background-color: var(--button-color);}
         /*--accent-color: #4D5AE5; IRIS */
        /*--button-color: #404BBF;  Ocean */
        /*    --second-color: #F4F4FD; */

        /* кнопка портфоліо*/
.list .pointer{
    color: var(--accent-color);
    background-color: var(--second-color);

}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--button-color);
}
.address .link:hover,.address .link:focus{
        color: var(--button-color);
}
    /* первая секция */

 .hero   {
    background-color: var(--title-text-color);
}
.hero-tittle{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color:var(--primary-white-color);
    letter-spacing: 0.02em; 
}
/*  --title-text-color: #2E2F42; */
 .hero .text, .strategy .titles-strategy, .title-we-do{
    letter-spacing: 0.02em;
    color: var(--title-text-color);
 }
 h2{ font-weight: 700;
    font-size: 36px;
    line-height: 1.11;   
    text-align: center;
    text-transform: capitalize;}

h3{ font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);}    

.titles-hidden{
    visibility:hidden;}  /* 2 секція прихований заголовок*/
    /*  --title-text-color: #2E2F42; */


/* 4 секція */
.our-team {
background-color: var(--second-color)

}
.our-team .team{
    background-color: var(--primary-white-color);
}
/*  --primary-white-color: #ffffff;
 --second-color: #F4F4FD; */


 /* футер */
.footer .accent {
    color: var(--second-color);
}

.footer {
    color: var(--second-color);
    background-color: var(--title-text-color);
}
/* кнопка портфоліо*/
.list .pointer {
    color: var(--accent-color);
    background-color: var(--second-color);}
    .list .pointer:hover, .list .pointer:focus {
        color: var(--primary-white-color);
        background-color: var(--button-color);    
    }

}

.port-tittle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
        /* identical to box height, or 120% */
    letter-spacing: 0.02em;
     color: var(--title-text-color)
}
.port-parag{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
        color: var(--primary-text-color)
        /* --primary-text-color: #434455; */
}