    /*цвет лого и кнопки IRIS #4D5AE5 */
    /* цвет шрифта хедера  #2E2F42 */
    /* цвет адреса в хедере #434455 */
    /*цвет активного наведения  шрифта Ocean  #404BBF */

    /* цвет заголовка h1  index #FFFFFF */
    /* цвет заголовка h2 index  #2E2F42  */
    /* цвет кновки index  IRIS  #4D5AE5 */
    /* цвет текста index  #434455  */
    
    /* цвет текста футера    #F4F4FD */

        /* цвет заголовка портфлио #2E2F42 */
        /*цвет спокойной кнопки на странице портфолио #F4F4FD */
        /* цвет спокойной надписи кнопки  на странице портфолио #4D5AE5 */
        /* цвет активной надписи кнопки  на странице портфоли #FFFFFF */
        /* цвет активной кнопки на странице портфолио Ocean  #404BBF */
        /* цвет основного текста портфлио #434455 */
/*переменные цвета*/
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5; /* IRIS */
    --button-color: #404BBF; /* Ocean */
    --primary-white-color: #ffffff;
    ---second-color: #F4F4FD;

    
}
/*основной стиль текста*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
    background-color:var(--primary-white-color)}
.list {
    list-style:none;    
}
/* логотип*/
.link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-color);
    text-decoration: none
}

header .accent {
    color: var(--primary-text-color);
}

/* хедер*/
.site-nav .link{
    color: inherit;
   font-weight: 500;
    text-decoration: none;
  }
.address .link{
    font-style: normal;
    color: inherit;
    text-decoration:none;
    :hover {
            color: var(--button-color);
        }
}
.pointer { cursor: pointer}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--button-color);
}
.address .link:hover,
.address .link:focus {
    color: var(--button-color);}

.hero .hero-tittle{ font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color:var(--primary-white-color);
    background-color:var(--title-text-color);
    letter-spacing: 0.02em}

 h2{ font-weight: 700;
    font-size: 36px;
    line-height: 1.11;   
    text-align: center;
    color: var(--title-text-color);
    text-transform: capitalize;}

h3{ font-weight: 500;
    font-size: 20px;
    line-height: 1.2;}
.cstrategy-head{
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--title-text-color);}

.titles-hidden{
    visibility:hidden};

.our-team{
    background-color:var(---second-color);
    
}