    /*цвет лого и кнопки IRIS #4D5AE5 */
    /* цвет шрифта хедера  #2E2F42 */
    /* цвет адреса в хедере #434455 */
    /*цвет активного наведения  шрифта Ocean  #404BBF */

    /* цвет заголовка h1  index #FFFFFF */
    /* цвет заголовка h2 index  #2E2F42  */
    /* цвет кновки index  IRIS  #4D5AE5 */
    /* цвет текста index  #434455  */
    
    /* цвет текста футера    #F4F4FD */

        /* цвет заголовка портфлио #2E2F42 */
        /*цвет спокойной кнопки на странице портфолио #F4F4FD */
        /* цвет спокойной надписи кнопки  на странице портфолио #4D5AE5 */
        /* цвет активной надписи кнопки  на странице портфоли #FFFFFF */
        /* цвет активной кнопки на странице портфолио Ocean  #404BBF */
        /* цвет основного текста портфлио #434455 */
        /* цыер рамки #E7E9FC */
/*переменные цвета*/
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5; /* IRIS */
    --button-color: #404BBF; /* Ocean */
    --primary-white-color: #ffffff;
    --second-color: #F4F4FD;  
    --frame: #E7E9FC;
    --client-logo:#8E8F99;
    --soc-logo:#F4F4FD;
}
/*основной стиль текста*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;  /* identical to box height, or 150% */
    color: var(--primary-text-color); /* --primary-text-color: #434455; */
    letter-spacing: 0.02em;
   
    background-color:var(--primary-white-color)}
    .container{
        /* border: 5px solid tomato; */
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    img {
        display: block;
        width: 100%;
    }
.list {
    list-style:none;
    margin: 0;    
    padding-left: 0px;
}
.link{text-decoration: none;}
/* логотип*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-right: 76px;

}
    /* #E7E9FC колір нижньої рамки хедера */


.main-nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}

 .accent {
      color: var(--title-text-color)
  }

/* хедер*/
.site-nav{
    display: flex;
}
.container-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--frame);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08)
}
.container-header .container{
    display: flex;
    align-items: center;
}
.site-nav .item {
    margin-right: 40px;
}
.site-nav .link{
        padding-top: 24px;
        padding-bottom: 24px;
}
.site-nav .item:last-child{
    margin-right: 0px;
}
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    display: block;
}

.address{
    font-style: normal;
}
.address .list{
        display: flex;
}
.address .item{
    margin-right: 40px;
}
.address .item:last-child{
    margin-right: 0px;
}
 .address .link {
    font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     color: inherit;
     color: var(--primary-text-color);
     /* --primary-text-color: #434455; */
      letter-spacing: 0.02em;
     font-style: normal;


 }
 .address .link:hover {
     color: var(--button-color);
 }



/* кнопка */
.pointer {
    display: inline-block;
        font-family:"Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    cursor: pointer;
border-radius: 4px;
}
.hero .pointer{
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    margin:  auto;
    margin-top: 46px;
    height: 56px;
    border: none;


}
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
        background-color: var(--title-text-color);
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/people-office.jpg);
         /* background-image: url(../images/people-office.jpg); */
         max-width: 1440рх;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
        
            text-align: center;
            /* rgba(46, 47, 66, 0.7) */
}
    .pointer:hover,.pointer:focus {
         background-color: var(--button-color);
        }
         /*--accent-color: #4D5AE5; IRIS */
        /*--button-color: #404BBF;  Ocean */
        /*    --second-color: #F4F4FD; */

        /* кнопка портфоліо*/
.list .pointer{
    color: var(--accent-color);
    background-color: var(--second-color);

}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--button-color);
}
.address .link:hover,.address .link:focus{
        color: var(--button-color);
}
    /* первая секция */

.hero-tittle{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color:var(--primary-white-color);
    letter-spacing: 0.02em;
    margin-top: 0px; 
    margin-bottom: 48px;
    max-width: 496px;
    margin: auto;
}
/*  --title-text-color: #2E2F42; */
 .hero .text, 
 .strategy .titles-strategy, 
 .tittle-we-do{
    letter-spacing: 0.02em;
    color: var(--title-text-color);
 }
p.text{
    margin-top: 0px;
    margin-bottom: 0px;
}
.strategy {
    padding-top: 120px;
    padding-bottom: 120px;

}
 .strategy-container .list{
    display: flex;
    flex-wrap: wrap;
}
.strategy .strat-list {
    margin-right: 24px;
}
.strategy .strat-list:nth-child(4n){
    margin-right: 0px;
}
.strategy .strat-list{
        width: calc((100% - 72px) / 4);
}
 .tittle-base{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 72px;}

.tittle-reg{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 8px;
}   

    .strategy .tittle-reg{
        text-align: left;} 

.titles-hidden{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    visibility:hidden;
    display: none}  /* 2 секція прихований заголовок*/
    /*  --title-text-color: #2E2F42; */


.strat-list .buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
   
    background-color: #F4F4FD;
    height: 112px;
    width: 264px;
    border-radius: 4px;
}
.strat-list .buttom-icon{

    width: 64px;
    height: 64px;
    left: 100px;
    top: 24px;
}

.we-do{
    padding-bottom: 120px;
}
.we-do .list{
    display: flex;
    padding: 0px;

}

.we-do .team{
        display: inline-block;
}
.we-do .team {
    margin-right: 24px;
    width: calc((100% - 48px) / 3)}
.we-do .team:last-child{
    margin-right: 0px;

}

/* 4 секція */
.our-team {
background-color: var(--second-color);
padding: 120px 0;
}
.our-team .list{
    display: flex;
    justify-content: center;
}

/* .we-do .team,
.portfolio .team,
.portfolio .port-btn {
    display: block;
} */


.our-team .team{
    margin-right: 24px;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    width: calc((100% - 72px) / 4);
    box-shadow:
         0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team .team:last-child {
    margin-right: 0px;
}
/*  --primary-white-color: #ffffff;
 --second-color: #F4F4FD; */

.our-team .team-info{
    padding: 32px 0px;
}

.buttom-soc{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    fill: var(--soc-logo);
}
.buttom-soc:hover, .buttom-soc:focus{
    background-color: var(--button-color)
}
.buttom-icon-soc{
    align-items: center;
    justify-content: center;
}
.our-team .list-soc{
    gap: 24px;
}
/* .our-team .link-soc:last-child{
    margin-right: 0px;
} */

/* Наші кліенти */
.our-client{
    background-color: var(--primary-white-color);
    padding: 120px 0;
}
.our-client-container .list {
     display: flex;}

.tittle-our-client {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.1;
     text-align: center;
     text-transform: capitalize;
    color:var(--title-text-color);
     margin-top: 0px;
     margin-bottom: 72px;
         }

.our-client .list-client{
    
    height: 88px;
    width: 168px;
}
.our-client-container .list{
    gap: 24px;
}
.list-client .buttom-client{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88px;
        width: 168px;
        border: 1px solid var(--client-logo);
        border-radius: 4px;
        color: var(--client-logo);
}
.our-client .list-client{
    display: block;
}
.buttom-client:hover, .buttom-client:focus{
    color: var(--button-color);
    border: 1px solid var(--button-color);
}
/* --button-color: #404BBF; */

.buttom-client-icon{
    fill: currentColor;
}

 /* футер */


.footer {
    color: var(--second-color);
    background-color: var(--title-text-color);

    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer .logo{
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0px;
}
.logo-company {
    margin-right: 120px;
}
.footer .accent {
    color: var(--second-color);
}
.footer .footer-text{
    width: 264px;
    margin: 0px;
}

.list-soc{
display: flex;
}
.soc-media{
    color: var(--primary-white-color);
    font-weight: 500;
    margin: 0;
    margin-bottom: 16px;
}
.list-soc{
    gap: 16px;
}
.footer .buttom-soc:focus, .footer .buttom-soc:hover{
    background-color: #31d0aa
    
}

/* кнопка портфоліо*/
.list .pointer {
    color: var(--accent-color);
    background-color: var(--second-color);}
    .list .pointer:hover, 
    .list .pointer:focus {
        color: var(--primary-white-color);
        background-color: var(--button-color);
        display: inline-block;    
    }


.portfolio .pointer {
    padding: 12px 24px;
    border: 1px solid var(--frame);
}
.portfolio .pointer:hover,
.portfolio .pointer:focus {
    border: 1px solid transparent;
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* секция portfolio */
.portfolio {
    padding: 96px 0 120px
}
.portfolio .port-btn {
    margin-right: 24px;
}

.portfolio .port-btn:last-child {
    margin-right: 0px;
}
.portfolio .team-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .list {
    display: flex;
    justify-content: center;
}
.portfolio .port-list-bottom {
    margin-bottom: 72px;
}

.team-list .team {
    display: block;
    margin-right: 24px;
    margin-bottom: 48px;
    width: calc((100% - 48px)/3);
}

.team-list .team:nth-last-child(-n+3){
margin-bottom: 0px;
}
.team-list .team:nth-child(3n) {
    margin-right: 0px;
}
.portfolio .link{
    display: block
}
.portfolio .link:hover,
.portfolio .link:focus {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio .port-item {
    padding: 32px 16px;
    border-bottom: 1px solid var(--frame);
    border-left: 1px solid var(--frame);
    border-right: 1px solid var(--frame);
        /* #E7E9FC рамка */
}
.port-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 8px;
}
.port-parag {
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
        /* --primary-text-color: #434455; */
}